extends ../layout

block content
    h1 Register
    form(name="register", action="/register", method="post")
        .form-group
            input(type="email", name="email", placeholder="Enter email").form-control
        .form-group
            input(type="password", name="password", placeholder="Enter password").form-control
        .form-group
            input(type="submit", value="submit").btn.btn-primary
